{% extends "papers/base.html" %}

{% block libraries %}
	{% load staticfiles %}
	<script type="text/javascript" src='{% static "js/lib/jquery-ui-1.10.4.min.js" %}'></script>	
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css">
	<script src = '{%static "js/ask.js"%}'></script>
	<link rel="stylesheet" href='{% static "css/ask.css" %}' type="text/css">

{% endblock %}

{% block content%}
	
	<div id="ask_window">
		<div id = "errors">			
		</div>

		<ul>
			<li><a href="#multi">Multiple Choice</a></li>
			<li><a href="#secret">Secret Reponse</a></li>
			<li><a href="#open">Open-Ended</a></li>									
		</ul>

		<div id = "multi">			
			<p>Word your question carefully, it could mean the difference between anonymity and awkwardness.</p>
			<a class="helper_button">Instructions</a>			

			<div class = "helper_text">
				<ul>
					<h2><u>Multiple Choice Question Help</u></h2>
					<li>This is a question with multiple answers</li>
					<li>Recipients can only select <b>one</b> answer</li>										
					<li>Notification only sent to you if your answer is chosen</li>															
					<li>Questions expire in 24 hours</li>
					<li>If you do not have the recipients e-mail <br>you will receive a link to the question</li>
					
					<h2><u>Multiple Choice Question Tips</u></h2>
					<li>Keep answers simple and to the point</li>
					<li>Include enough answers to protect your anonymity</li>
					<li>Keep your answers consistent <br>(ex: if one is capitalized, they should all be)</li>
					<li>Yes/No/Maybe answers aren't suggested <br>'Maybe' has ruined many a day</li>
				</ul>
			</div>

			<div id = 'form_container'>
				<form id="multi_form" class="submission_form">
					<input type="hidden" name="question_type" value="Multiple" />

					<table>					
						<tr><td>&nbsp;</td>
							<td><input type="email" size="32" name="sender" placeholder='Enter your e-mail (Required)' /></td></tr>
						<tr><td>&nbsp;</td>
							<td><input type="email" size="32" name="sent_to" placeholder="Recipients E-mail (Blank for URL Only)"></td></tr>
						<tr><td>&nbsp;</td>
							<td><input type="text" size="32" name="question_text" placeholder="Question (Required) - Max 512 Chars." /></td></tr>
						
						<!--Answers !-->
						<tr><td><input type="radio" name="selected_answer" value="1" /></td>
							<td><input type="text" size="32" class="answer_text" name="answertext-1" placeholder="Answer (Required)" /></td>
						<tr><td><input type="radio" name="selected_answer" value="2"/></td>
							<td><input type="text" size="32" class="answer_text" name="answertext-2" placeholder="Answer (Required)" /></td>
							<td class="add_answer"><span class="ui-icon ui-icon-circle-plus"></span></td></tr>						
												
						<!--Submission Info !-->						
						<tr><td>&nbsp;</td>
							<td><input class="submission_button" type="submit" value="Ask" /></td>
						</tr>
						<tr>
							<td>{% csrf_token %}</td>							
						</tr>
					</table>
				</form>
			</div>
			
		</div>



		<div id ="secret">		
			<p>Word your question carefully, it could mean the difference between anonymity and awkwardness.</p>
			<a class="helper_button">Instructions</a>

			<div class = "helper_text">
				<ul>
					<h2><u>Secret Response Question Help</u></h2>
					<li>This question displays a secret message if a certain answer is selected. </li>					
					<li>Recipients can only select <b>one</b> answer</li>
					<li>Notification only sent to you if your answer is chosen</li>															
					<li>Questions expire in 24 hours</li>
					<li>If you do not have the recipients e-mail <br>you will receive a link to the question</li>
					<br><span class = "helper_example_text">Example:</span> <br>If my name is chosen tell the recipient I also love them!</li><br>					
					<h2><u>Secret Response Question Tips</u></h2>
					<li>Keep answers simple and to the point</li>
					<li>Include enough answers to protect your anonymity</li>
					<li>Keep your answers consistent <br>(ex: if one is capitalized, they should all be)</li>
					<li>Yes/No/Maybe answers aren't suggested <br>'Maybe' has ruined many a day</li>
				</ul>
			</div>

			<div id = 'form_container'>
				<form id="secret_form" class="submission_form">
					<input type="hidden" name="question_type" value="Secret" />
					
					<table>							
						<tr><td>&nbsp;</td>
							<td><input type="email" size="32" name="sender" placeholder='Enter your e-mail (Required)' /></td></tr>
						<tr><td>&nbsp;</td>
							<td><input type="email" size="32" name="sent_to" placeholder="Recipients E-mail (Blank for URL Only)"></td></tr>
						<tr><td>&nbsp;</td>
							<td><input type="text" size="32" name="question_text" placeholder="Question (Required) - Max 512 Chars." /></td></tr>
						
						<!--Answers !-->
						<tr><td><input type="radio" name="selected_answer" value="1" /></td>
							<td><input type="text" size="32" class="answer_text" name="answertext-1" placeholder="Answer (Required)" /></td>

						<tr><td><input type="radio" name="selected_answer" value="2"/></td>
							<td><input type="text" size="32" class="secret_answer_text" name="answertext-2" placeholder="Answer (Required)" /></td>
							<td class="add_answer"><span class="ui-icon ui-icon-circle-plus"></span></td></tr>
												
						<!--Submission Info !-->
						<tr><td>&nbsp;</td>
							<td><input class="submission_button" type="submit" value="Ask" /></td>				
						</tr>
						<tr><td>{% csrf_token %}</td></tr>
					</table>
				</form>
			</div>
		</div>

		<div id ="open">
			<p>Word your question carefully, it could mean the difference between anonymity and awkwardness.</p>
			<a class="helper_button">Instructions</a>
			
			<div class = "helper_text">
				<ul>
					<h2><u>Open-Ended Question Help</u></h2>
					<li>This question takes a response in free-text</li>
					<li>The recipient will be presented with an answer box,<br> they can type in whatever they deem appropriate</li>					
					<li>Notification only sent if recipient responds</li>
					<li>Questions expire in 24 hours</li>
					<li>If you do not have the recipients e-mail <br>you will receive a link to the question</li>
					
					<h2><u>Open-Ended Question Tips</u></h2>					
					<li>If your question can be answered with a simple yes/no<br>Consider using multiple choice instead</li>					
				</ul>
			</div>

			<div id = 'form_container'>
				<form id="open_form" class="submission_form">
					<td><input type="hidden" name="question_type" value="Open" />
					<table>					
						<tr><td>&nbsp;</td>
							<td><input type="email" size="32" name="sender" placeholder='Enter your e-mail (Required)' /></td></tr>
						<tr><td>&nbsp;</td>
							<td><input type="email" size="32" name="sent_to" placeholder="Recipients E-mail (Blank for URL Only)"></td></tr>
						<tr><td>&nbsp;</td>
							<td><textarea class = "question_box" name="question_text" rows="4" cols="31" placeholder="Question (Required) - Max 512 Chars."></textarea></td></tr>																								
						<!--Submission Info !-->
						<tr><td>&nbsp;</td>
							<td><input class="submission_button" type="submit" value="Ask" /></td>				
						</tr>
						<tr><td>{% csrf_token %}</td></tr>
					</table>
				</form>
			</div>			
		</div>
		

	</div>

{% endblock %}