{% extends "papers/base.html" %}

{% block libraries %}
	{% load staticfiles %}
	<script type="text/javascript" src='{% static "js/lib/jquery-ui-1.10.4.min.js" %}'></script>	
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css">
	<script src = '{%static "js/ask.js"%}'></script>
	<link rel="stylesheet" href='{% static "css/ask.css" %}' type="text/css">

{% endblock %}

{% block content%}
	
	<div id="ask_window">
		<ul>
			<li><a href="#multi">Multiple Choice</a></li>
			<li><a href="#open">Open-Ended</a></li>						
			<li><a href="#secret">Secret Reponse</a></li>
		</ul>

		<div id = "multi">			
			<p>Word your question carefully, it could mean the difference between anonymity and awkwardness.</p>
			<a href="#" class="helper_button">Instructions</a>						

			<div class = "helper_text">
				<ul>
					<h2><u>Multiple choice question Tips</u></h2>
					<li>Include enough options to keep your desired answer obscure.</li>
					<li>Keep answers simple and to the point</li>
					<li>Keep answers consistent, if one is capitalized, they all should be.</li>
					<li>Yes/No/Maybe answers aren't suggested.  Maybe has ruined many a day.</li>
				</ul>
			</div>

			<div id = 'form_container'>
				<form id="multi" class="submission_form">
					
					<table>					
						<tr><td><span class="required_star">*</span></td>
							<td><input type="text" size="32" name="sender" placeholder='Enter your e-mail' /></td></tr>
						<tr><td>&nbsp;</td>
							<td><input type="text" size="32" name="sent_to" placeholder="Recipients E-mail (Blank for URL Only)"></td></tr>
						<tr><td><span class="required_star">*</span></td>
							<td><input type="text" size="32" name="question_text" placeholder="Question" /></td></tr>
						
						<!--Answers !-->
						<tr><td><span class="required_star">*</span></td>
							<td><input type="text" size="32" class="answer_text" name="answertext-1" placeholder="Answer (Required)" /></td>
							<td class="add_answer"><span class="ui-icon ui-icon-circle-plus"></span></td></tr>
												
						<!--Submission Info !-->
						<tr><td>&nbsp;</td>
							<td><input class="submission_button" type="submit" value="Ask" /></td>				
						</tr>
						<tr><td>{% csrf_token %}</td></tr>
					</table>
				</form>
			</div>
			
		</div>

		<div id ="open">
			<p>Word your question carefully, it could mean the difference between anonymity and awkwardness.</p>
			<a href="#">Example Usage</a><br>

			{% for a_form in form %}
				{{ a_form }}
			{% endfor %}
		</div>		

		<div id ="secret">
			<p>Word your question carefully, it could mean the difference between anonymity and awkwardness.</p>
			<a href="#">Example Usage</a><br>
		</div>
	</div>

{% endblock %}