<!DOCTYPE html>
<html lang="en">

<head>	
	{% load staticfiles %}
	<script type="text/javascript" src='{% static "js/lib/jquery-1.10.2.min.js" %}'></script>
	<link rel="stylesheet" href='{% static "css/base.css" %}' type="text/css">
	{% block libraries %}
	{% endblock %}
	
	<title>{% block title %} {{ site_name }} {% endblock %}</title>
</head>

<body>
	<div id = "title">
		<div id = "site_name">
			{{ site_name }}
			<span id="sub_title_tag">... why put yourself out there?</span>
		</div>
	</div>

	<div id="content">
		{% block content %}	
		{% endblock %}
	</div>
	
	<div id="footer">
		{% block footer %}
		<a href = "#" class="no_undie_link"> Report Abuse</a> - 
		<a href = "#" class="no_undie_link"> Contact Us</a> - 		
		<a href = "#" class="no_undie_link"> Privacy Policy</a> - 
		<a href = "#" class="no_undie_link"> API</a>
		{% endblock %}
	</div>

</body>
</html>