<!DOCTYPE html>
<html lang="en">

<head>
<body>
	Hello,<br><br>

	Someone sent you a question from {{ site_name }}.com<br><br>

	<h1>Question:</h1>  <br>{{ question }}<br>
	To answer this question click the following link:<br>
	<br>

	<a href="#">Click here</a><br>
	The sender could only select one answer for their desired response.
	If you select a different answer they will not be notified of your response
	and the message will be deleted in 24 hours.<br><br>

	Note: If you choose not to answer this question it will expire in 24 hours.

</body>
</html>