#ask_window {
	min-width: 486px;
	max-width: 486px;
	min-height: 680px;
	max-height: 680px;	
	margin: auto;
}

	.helper_text {
		display: none;
	}

	#form_container {
		margin-top: 20px;
	}

	.submission_button{
		margin-top: 20px;
	}

	.required_star {
		color: #FF0000;
		font-size: 20px;
	}
