#ask_window {
	min-width: 486px;
	max-width: 486px;
	min-height: 680px;
	max-height: 680px;	
	margin: auto;
}

	.helper_text {
		display: none;
		font-size: 16px;
	}

	.helper_button, .add_answer, .remove_answer {
		cursor: pointer;
		cursor: hand;		
	}

	.helper_button {		
		text-decoration: underline;		
	}

	.helper_example_text {				
		margin-left: 150px;
		font-weight: bold;
	}

	.helper_button:hover {
		color: #FF0000;
	}

	#form_container {
		margin-top: 20px;
	}

		.submission_button{
			margin-top: 20px;
		}
		.question_box {
			resize: none;
		}
	#errors {
		font-size: 12px;
		min-width: 486px;
		max-width: 486px;
		position: absolute;
		color: #FF4747;				
		margin-top: 650px;
        text-align: center;
	}